*.class

# Apple muck
.DS_Store

#eclipse muck
.metadata

#local project settings
.project
.classpath
.settings/*

#GAE dynamix stuff
war/WEB_INF/appengine-generated/*


# Package Files #
#*.jar
#*.war
#*.ear
