body { 
	font-family: Arial;
	background-color: #000;
	color:#FFF;
	margin:0;
}

#container {
	text-align:center;
}

.wrapper {
	/*width: 120px;*/
	margin: 2px;
}
    	
h2 {
	margin: 0px 0px 10px;
}

h3 {
	margin:0;
	font-size: .8em;
}

h6 {
	margin:0;
	color:#aaa;	
}

ul.list {
	text-align: left;
	margin: 0;
	padding: 0;
	padding-left: 17px;
}

ul.list a {
	color: #C70304;
}

ul li {
	list-style-type: disc;
	margin-top:2px;
}

table {
	border-collapse:collapse;
}

.header-logo {
	background-color: #c70304;
	padding-top: 4px;
	border: 2px solid #950405;
	text-align: center;
	color: #fff;
	margin-bottom:3px;
}

.secondary-header {
	background-color: #545454;
	font-size: 0.8em;
	padding-top:2px;
}

.bonus {
    background: none repeat scroll 0 0 #FFF9D7;
    border: 1px solid #E2C822;
    color: #644B00;
    margin-bottom: 3px;
    padding: 4px 5px 0;
    text-align: center;
}

.notify {
    background: none repeat scroll 0 0 #FFF9D7;
    border: 1px solid #E2C822;
    color: #644B00;
    margin-bottom: 3px; 
    padding: 4px 5px 0;
    text-align: center;
    /*width: 106px;*/
    }
    
.confirm {
    background: none repeat scroll 0 0 #E1FAE1;
    border: 1px solid #3C6400;
    color: #3C6400;
}

.error {
    background: none repeat scroll 0 0 #FFAFAF;
    border: 1px solid red;
    color: #000000;}


.xp, .level {
	padding-left:5px;
}

table.bets {
	border-collapse: separate;
	width:100%;
	margin-top: 3px;
}

.bets td {
	background-color: #07a107;
	border: 2px solid #367219;
	text-align:center;
	padding: 5px;
/*	font-size: 0.8em;
*/	width:40%;
}

.bets div {
	margin: 7px 0 10px 0;
}

a.bet {
	color:#FFF;	
}

.play {
	background-color: #07a107;
	padding:3px 0;
	border: 2px solid #367219;
	margin: 5px 0;
	/*width:116px;*/
	text-align:left;
}

.login-menu a {
	color:#950405;	
}

.play a {
	color: #FFF;
}

.subheader {
	font-size: .8em;
	text-align: center;
	display: inline-block;
}

.menu {
	text-align:left;
}

.menu a, .menu div {
	color: #3e1501;	
}

.menu div {
	background-color: #ff8d00;
	padding:2px 0;
	margin: 5px 0;
	/*width:120px;*/
}

.goldtext {
	color: #f1bc4c;
    font-weight:bold;
}
    
.jackpotteaser{
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-top: 5px;
	color: #f1bc4c;
}

.list {
	margin: 10px 0;
}

.payout-table {
	text-align:left;
	border: 2px solid #646464;
	border-bottom:none;
	background-color: #3e3e3e;
	padding:5px;
}

.border-bottom {
	border-bottom:2px solid #646464;
}

.input{
/*	font-size: 10px;
*/	width: 120px;
	text-align:left;
}

.results {
	height: 20px;
	background: black;
}

.lostspin {
	font-size: 16px;
}

.results .lostspin {
	line-height:16px
}

.wonspin {
	color: #07a107;
	font-size: 1.0em;
 }
 
.icon {
	vertical-align: top;
}

.spin-container {
	border: 2px solid #646464;
	background-color: #3e3e3e;
	padding-top: 3px;	
}

.achievement-container {
	width: 100%;
}
]
.achievement-container tbody tr {
	margin: 5px 0;
}

.achievement-container td {
	text-align: left;
	padding-left: 10px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-size: 0.8em;
}

.achievement-container tr {
	background-color: #646464;
}

.achievement-container tr.disable {
	background-color: #8d8d8d;
}

.location a {
	background-color: #07A107;
    padding: 0px 5px;
    color: #FFF;
}

.location-wrapper {
	width: 100%;
}

.location-container {
	text-align: left;
	width: 100%;
	border-bottom: 1px solid white;
}

.location-container .icon-lock, .location-container.locked .icon-location, .location-container.locked .button-go, .location-container .button-go-disable {
	display: none;
}

.location-container.locked .icon-lock, .location-container.locked .button-go-disable{
	display: table-cell;
}

.location-container .button-go a{
	background-color: #07A107;
	color: #FFF;
	padding: 2px 6px;
}

.location-container.locked .button-go-disable {
	color: #4f504f;
}

.icon-lock, .icon-location {
	width: 40px;
}


.level-up {
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
}

/*----------------------*/

/*  Level 2 - Old West  */

/*----------------------*/

.wrapper.level-2 {
	background: #b08453;
}

.level-2 .spin-container{
	background: #5d371f;
}

.level-2 .spin-container {
    border: 2px solid #b08453;
}

/*-------------------------*/

/*  Level 3 - Under Water  */

/*-------------------------*/

.wrapper.level-3 {
	background: #9bced7;
}

.level-3 .spin-container{
	background: #46abbd;
}

.level-3 .spin-container {
    border: 2px solid #9bced7;
}


/*-----------------------------*/

/*  Level 4 - Jungle Treasure  */

/*-----------------------------*/

.wrapper.level-4 {
	background: #98b045;
}

.level-4 .spin-container{
	background: #718627;
}

.level-4 .spin-container {
    border: 2px solid #98b045;
}