/** html/css/html.css */

body {
	font: 13px Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none;
	margin:0;
	color:#fff;	
}

body, h1, h2, h3, ul {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

p, ul, ol {
	margin:0;
	padding:0;
}

ul, li, ol {
	padding:0; 
	list-style: none;
}

a {
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-user-select:none;
	text-decoration:none;
}

img {
	border:0;
}
 
ul.list {
	text-align: left;
	margin: 0;
	padding: 0;
	padding-left: 17px;
}

ul.list a {
	color: #C70304;
}

ul li {
	list-style-type: disc;
	margin-top:2px;
}

table {
	border-collapse: separate;
	width:100%;
}

.game-wrapper {
	background: white;
	border: 1px solid #EEE;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #EEE;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px;
	width: 950px;
}

.adds_container.right {
	float: right;
}

.adds_container.left {
	float: left;
}

.square-ad {
	margin-bottom: 10px;
}

.skyscraper {
	float: left;
}

.skyscraper.left {
	margin-right: 10px;
}

#container {
	display: inline-block;
    width: 640px;
    height: 633px;
    background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(79,79,79,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(79,79,79,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
	overflow: scroll;
	position: relative;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url(../images/main-bg.png);
}

.play, .menu, .title-wrapper, .results-container, .spin-container, .spin-controls, .list-container, .payout-table, .payout-table {
	margin-right: 9px;
	margin-left: 9px;
}

.intro-message, .play, .button-row{
	margin-bottom: 10px !important;
}

.title-wrapper, .payout-table {
	margin-top: 9px;
}

.title-container {
	background: rgb(124,124,124); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(124,124,124,1) 0%, rgba(239,239,239,1) 26%, rgba(124,124,124,1) 56%, rgba(239,239,239,1) 79%, rgba(124,124,124,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,124,124,1)), color-stop(26%,rgba(239,239,239,1)), color-stop(56%,rgba(124,124,124,1)), color-stop(79%,rgba(239,239,239,1)), color-stop(100%,rgba(124,124,124,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 26%,rgba(124,124,124,1) 56%,rgba(239,239,239,1) 79%,rgba(124,124,124,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 26%,rgba(124,124,124,1) 56%,rgba(239,239,239,1) 79%,rgba(124,124,124,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 26%,rgba(124,124,124,1) 56%,rgba(239,239,239,1) 79%,rgba(124,124,124,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 26%,rgba(124,124,124,1) 56%,rgba(239,239,239,1) 79%,rgba(124,124,124,1) 100%); /* W3C */
	text-align: center;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	font-family: 'Electrolize', sans-serif;
	border-spacing: 0;
}

.title-container .title {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    font-size: 1.2em;
    background: url(../images/stripped-bg.png) #000;
	display: block;
	border: 1px solid #000;
	padding: 4px;
}

.title a {
	color: #FFF;	
}

.ad {
	text-align: center;
	width: 468px; 
	height: 60px;
	margin: auto;
	margin-bottom: 5px;	
}

/* ----------------------------- */
/*            HEADER             */
/* ----------------------------- */

.header {
	background: #c70304;
	border-top: 4px solid #faa22c;
	border-bottom: 4px solid #faa22c;
	text-align: center;
	color: #fff;
	-moz-box-shadow: inset 0px 0px 5px  #000;
  	-webkit-box-shadow: inset 0px 0px 5px  #000;
  	box-shadow: inset 0px 0px 5px  #000;
  	line-height: 23px;
	padding-top: 15px;
}

.header .coins {
	background: #531312;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	padding: 0 2px 0 16px;
	top: -7px;
	font-size: 15px;
	font-family: 'Electrolize', sans-serif;
	float: left;
	margin-left: 15px;
}

.header a.coins {
	color: #FFF;

}

.header .coins .icon-coin {
	background: url("../images/coin.png") no-repeat;
	height: 22px;
	width: 22px;
	position: absolute;
	left: -8px;
}

.header .coins .plus {
	background-image: linear-gradient(bottom, rgb(255,140,0) 0%, rgb(220,121,0) 50%, rgb(254,219,115) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,140,0) 0%, rgb(220,121,0) 50%, rgb(254,219,115) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,140,0) 0%, rgb(220,121,0) 50%, rgb(254,219,115) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,140,0)), color-stop(0.5, rgb(220,121,0)), color-stop(1, rgb(254,219,115)));
	color: #531312;
	font-weight: 600;
	padding: 0 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.header .logo {
	margin: 0 7px;
	display: inline-block;
	position: relative;
	top: -4px;
}

.header .logo img {
	vertical-align: top;
}

.header .level-xp {
	display: inline-block;
	position: relative;
	top: -7px;
	float: right;
	margin-right: 10px;
}

.header .level, .header .xp {
	text-align: left;
	background: #531312;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	display: block;
	height: 16px;
	line-height: 17px;
	padding: 3px 7px;
	font-family: 'Electrolize', sans-serif;
}

.header .level {
	margin-bottom: 2px;
}

/* ----------------------------- */
/*            FOOTER             */
/* ----------------------------- */

#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin:0;
	background: #C70304;
	-moz-box-shadow: inset 0px 0px 5px #000;
	-webkit-box-shadow: inset 0px 0px 5px black;
	box-shadow: inset 0px 0px 5px black;
}

#footer div {
	margin: 7px;
}

/* ----------------------------- */
/*           JACKPOT             */
/* ----------------------------- */

.jackpotteaser {
	border: 4px solid #f19f30;
	border-top: 0;
    -webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background-color: #1d1c1c;
	line-height: 2em;
	text-align: center;
	margin: 0 auto 10px;
	font-size: 18px;
	background: url('/html/images/jackpot-bg.gif');
	width: 260px;
	box-shadow: inset 1px 0px 10px rgba(0,0,0,.6);
	-webkit-box-shadow: inset 1px 0px 10px rgba(0,0,0,.6);
}

.jackpot {
	background: -webkit-gradient(linear, left top, left bottom, from(#c70304), to(#750102));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    font-weight:bold;
}

.jackpot-text img {
	vertical-align: middle;
}

.jackpot-text {
	color:black;
}


/* ----------------------------- */
/*        INTRO MESSAGE          */
/* ----------------------------- */

.intro-message {
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #1D1C1C;
	border: 4px solid #f19f30;
	padding: 0 0 5px;
	margin: 0 13px;
}

.bonus {
	padding: 4px 0;
	background-color: #FFF9D7;
    color: #644B00;
    text-align: center;
}

.intro-message .hello {
	font-size: 16px;
	margin-top: 5px;
}

/* ----------------------------- */
/*           MAIN MENU           */
/* ----------------------------- */

.menu a{
	color: #000;	
	font-weight: 600;
	text-shadow: rgba(255,255,255,.5) 0 1px 0;
}

.play, .menu a, .bet {
	border: 4px solid #000;
}

.play {
	text-align:center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image: linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37,130,0)), color-stop(0.5, rgb(43,156,2)), color-stop(1, rgb(96,248,36)));
	-webkit-box-shadow: inset 0 3px 0px rgba(17,102,12,1), inset 0 -3px 0px rgba(17,102,12,1), inset 3px 0 0px rgba(17,102,12,1), inset -3px 0 0px rgba(17,102,12,1);
	-moz-box-shadow: inset 0 3px 0px rgba(17,102,12,1), inset 0 -3px 0px rgba(17,102,12,1), inset 3px 0 0px rgba(17,102,12,1), inset -3px 0 0px rgba(17,102,12,1);
	box-shadow: inset 0 3px 0px rgba(17,102,12,1), inset 0 -3px 0px rgba(17,102,12,1), inset 3px 0 0px rgba(17,102,12,1), inset -3px 0 0px rgba(17,102,12,1);
	font-size: 1.5em;
}

.play a {
	font-weight: 600;
	color: #FFF;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
	display: block;
	padding: 13px 0;
}

.menu a{
	padding: 12px 0;
	font-size: 1.2em;
	text-align:center;
	display: inline-block;
	width: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image: linear-gradient(bottom, rgb(255,140,0) 0%, rgb(220,121,0) 50%, rgb(254,219,115) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,140,0) 0%, rgb(220,121,0) 50%, rgb(254,219,115) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,140,0) 0%, rgb(220,121,0) 50%, rgb(254,219,115) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,140,0)), color-stop(0.5, rgb(220,121,0)), color-stop(1, rgb(254,219,115)));
	-webkit-box-shadow: inset 0 3px 0px rgba(199,103,1,1), inset 0 -3px 0px rgba(199,103,1,1), inset 3px 0 0px rgba(199,103,1,1), inset -3px 0 0px rgba(199,103,1,1);
	-moz-box-shadow: inset 0 3px 0px rgba(199,103,1,1), inset 0 -3px 0px rgba(199,103,1,1), inset 3px 0 0px rgba(199,103,1,1), inset -3px 0 0px rgba(199,103,1,1);
	box-shadow: inset 0 3px 0px rgba(199,103,1,1), inset 0 -3px 0px rgba(199,103,1,1), inset 3px 0 0px rgba(199,103,1,1), inset -3px 0 0px rgba(199,103,1,1);
}

.button-row {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.wonspin {
	color: #07a107;
	font-size: 1.0em;
 }

.block {
	float: left;
	position: relative;
	text-align: center;
}

.half-left, .half-right, .half-center {
	max-width: 47.2%;
	width: 50%;
}

.half-left {
	margin-right: 2%;
}

.half-right {
	margin-left: 2%;

}

.half-center {
	margin: auto;
	
}

/* ----------------------------- */
/*        SPIN  Results          */
/* ----------------------------- */

.spin-results {
	border: 4px solid #908f8f;
	border-bottom: 0;
	margin: 10px 20px 0;
	height: 90px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	background: rgba(0, 0, 0, .3);
}

.spin-results .location {
	margin: 7px 0;
	font-size: 16px;
	position: relative;
}

.spin-results .location span{
	background: black;
	font-weight: bold;
	padding: 4px 8px 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: 0 2px 0 black;
}

.spin-results .location a {
	color: #FFF;
	background-image: linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37,130,0)), color-stop(0.5, rgb(43,156,2)), color-stop(1, rgb(96,248,36)));
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 8px;
	position: absolute;
	right: 3px;
	top: -3px;
}

.spin-results .results {
 	border-top: 1px solid #4b4b4b;
 	padding-top: 4px;
 	height: 53px;
 	background: black;
 }

 .spin-results .results a { 
 	color: green;
 }

.spin-results #lost_result {
	font-size: 18px;
	margin-top: 4px;
}


/* ----------------------------- */
/*        SPIN Container         */
/* ----------------------------- */

.spin-container {
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	background: rgb(124,124,124); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(124,124,124,1) 0%, rgba(239,239,239,1) 14%, rgba(96,96,96,1) 25%, rgba(239,239,239,1) 36%, rgba(71,71,71,1) 55%, rgba(239,239,239,1) 64%, rgba(96,96,96,1) 77%, rgba(239,239,239,1) 88%, rgba(124,124,124,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,124,124,1)), color-stop(14%,rgba(239,239,239,1)), color-stop(25%,rgba(96,96,96,1)), color-stop(36%,rgba(239,239,239,1)), color-stop(55%,rgba(71,71,71,1)), color-stop(64%,rgba(239,239,239,1)), color-stop(77%,rgba(96,96,96,1)), color-stop(88%,rgba(239,239,239,1)), color-stop(100%,rgba(124,124,124,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(124,124,124,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(124,124,124,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(124,124,124,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(124,124,124,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(124,124,124,1) 100%); /* W3C */
}

.spin-content {
	overflow:hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 3px solid #000;
} 

.lights-win, .lights-off {
	position:relative;
}

.lights-off .lights.left, .lights-off .lights.right {
	background: url('/html/images/side-lights-off.gif');
	height: 256px;
	width: 10px;
	position:absolute;
}

.lights-win .lights.left, .lights-win .lights.right{
	background: url('/html/images/side-lights.gif');
	height: 256px;
	width: 10px;
	position:absolute;
	z-index:2;
}

.lights-off .lights.top, .lights-off .lights.bottom {
	background: url('/html/images/top-lights-off.gif');
	height: 10px;
	width: 100%;
	position: absolute;
}

.lights-win .lights.top, .lights-win .lights.bottom {
	background: url('/html/images/top-lights.gif');
	height: 10px;
	width: 100%;
	position: absolute;
	z-index:2;
}

.lights.left{
	left: 2px;
	top: 3px;
}

.lights.right {
	right: 2px;
	top: 3px;
}

.lights.top {
    top: 2px;
    left: 3px;
}

.lights.bottom {
    bottom: -259px;
    left: 3px;
}

.spins {
	height: 20em;
	border-spacing: 10px;
	border: 2px solid #3e3e3e;
	background: #000;
}

.spins td {
	background-color: #000;
	text-align: center;
}

.spins td div {
	position:relative;
}


#spin-animation-1, #spin-animation-2, #spin-animation-3 {
	width: 161px;
	height: 230px;
	overflow: hidden;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	display:block;
}
			
#spin-animation-1 img, #spin-animation-2 img, #spin-animation-3 img {
	position: absolute;
	right: 0;
	-webkit-animation: spinning .15s  infinite;
}
				
@-webkit-keyframes spinning {
	0% { top: -148px }
	100% { top: 0px }
}

.shadows {
	width: 161px;
	height: 230px;
	position: absolute;
	z-index: 1;
	right:0;
	background-image: linear-gradient(bottom, rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,.7) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,.7) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,.7) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,.7) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,.7) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top,color-stop(0, rgba(0,0,0,.7)), color-stop(0.5, rgba(255,255,255,0)), color-stop(1, rgba(0,0,0,.7)));
}

/* ----------------------------- */
/*        SPIN Controls          */
/* ----------------------------- */

.spin-controls {
	margin-top: 1px;
	text-align: center;
	display: block;
	padding: 3px;
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
   	margin-bottom: 9px;
	background: rgb(71,71,71); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(71,71,71,1) 0%, rgba(239,239,239,1) 14%, rgba(96,96,96,1) 25%, rgba(239,239,239,1) 36%, rgba(71,71,71,1) 55%, rgba(239,239,239,1) 64%, rgba(96,96,96,1) 77%, rgba(239,239,239,1) 88%, rgba(71,71,71,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,71,71,1)), color-stop(14%,rgba(239,239,239,1)), color-stop(25%,rgba(96,96,96,1)), color-stop(36%,rgba(239,239,239,1)), color-stop(55%,rgba(71,71,71,1)), color-stop(64%,rgba(239,239,239,1)), color-stop(77%,rgba(96,96,96,1)), color-stop(88%,rgba(239,239,239,1)), color-stop(100%,rgba(71,71,71,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(71,71,71,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(71,71,71,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(71,71,71,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(71,71,71,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(71,71,71,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(71,71,71,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(71,71,71,1) 0%,rgba(239,239,239,1) 14%,rgba(96,96,96,1) 25%,rgba(239,239,239,1) 36%,rgba(71,71,71,1) 55%,rgba(239,239,239,1) 64%,rgba(96,96,96,1) 77%,rgba(239,239,239,1) 88%,rgba(71,71,71,1) 100%); /* W3C */
}

.spin-controls .button-row {
	margin: 3px 5px 0 5px !important;
}

.spin-controls .bet {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image: linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37,130,0)), color-stop(0.5, rgb(43,156,2)), color-stop(1, rgb(96,248,36)));
	-webkit-box-shadow: inset 0 3px 0px rgba(17,102,12,1), inset 0 -3px 0px rgba(17,102,12,1), inset 3px 0 0px rgba(17,102,12,1), inset -3px 0 0px rgba(17,102,12,1);
	-moz-box-shadow: inset 0 3px 0px rgba(17,102,12,1), inset 0 -3px 0px rgba(17,102,12,1), inset 3px 0 0px rgba(17,102,12,1), inset -3px 0 0px rgba(17,102,12,1);
	box-shadow: inset 0 3px 0px rgba(17,102,12,1), inset 0 -3px 0px rgba(17,102,12,1), inset 3px 0 0px rgba(17,102,12,1), inset -3px 0 0px rgba(17,102,12,1);
	padding: 12px 0;
	font-size: 1.5em;
	display: inline-block;
	width: 100%;
}

.spin-controls a.bet {
	color: #FFF;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

.spin-controls .menu, .spin-controls .controls {
	margin: 0 8px 0 0;
}


/* ----------------------------- */
/*           LOCATIONS           */
/* ----------------------------- */

.location-wrapper {
	width: 50%;
	text-align: center;
	float: left;
	margin: 10px 0;
}

.location-container {
	margin: 3px 0;
	text-align: left;
	margin-right: 15px;
}

a.location-container {
	color: #FFF;
}

.location-container .location-icons {
	position: relative;
	float: left;
	left: 20px;
	z-index: 1;
}

.location-container .icon-location {
	width: 124px;
	height: 123px;	
	display: block;
}

.location-container.level-1 .icon-location{
	background: url(../images/icon-level1.png);
}

.location-container.level-2 .icon-location{
	background: url(../images/icon-level2.png);
}

.location-container.level-3 .icon-location{
	background: url(../images/icon-level3.png);
}

.location-container.level-4 .icon-location{
	background: url(../images/icon-level4.png);
}

.location-container .icon-lock {
	background: url(../images/icon-lock.png) no-repeat 25px 15px;
	width: 85px;
	height: 85px;
	position: absolute;
	bottom: 4px;
	left: 4px;
	padding: 15px;
	border-radius: 80px;
}

.location-container.level-2 .icon-lock {
	background-color: rgba(109, 79, 47, .9);
}

.location-container.level-3 .icon-lock {
	background-color: rgba(26, 192, 221, .9);
}

.location-container.level-4 .icon-lock {
	background-color: rgba(152, 176, 69, .9);
}


.location-container .location {
	float: left;
	height: 75px;
	width: 140px;
	margin-top: 16px;
	padding: 0 0 10px 30px;
	border: 3px solid #f8b52e;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

.location-container.level-1 .location {
	background: #231f20;
}

.location-container.level-2 .location {
	background: #6d4f2f;
}

.location-container.level-3 .location {
	background: #1ac0dd;
}

.location-container.level-4 .location {
	background: #98b045;
}

.location-container .location-name {
	margin-top: 4px;
	font-size: 18px;
	font-weight: 600;
	display: inline-block;
}

.location-container .icon-star-small{
	background: url(../images/icon-star-small.png);
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: top;
}

.location-wrapper .location-play, .location-buy {
	width: 110px;
	text-align:center;
	font-size: 16px;
	font-weight: bold;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-image: linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(37,130,0) 0%, rgb(43,156,2) 50%, rgb(96,248,36) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37,130,0)), color-stop(0.5, rgb(43,156,2)), color-stop(1, rgb(96,248,36)));
	padding: 8px 11px;
	margin: 5px 5px 0 0;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}
.location-wrapper .location-play {
	display: inline-block;
	background: rgb(199,3,4);
	background: -moz-linear-gradient(top, rgba(199,3,4,1) 0%, rgba(155,3,3,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,3,4,1)), color-stop(100%,rgba(155,3,3,1)));
	background: -webkit-linear-gradient(top, rgba(199,3,4,1) 0%,rgba(155,3,3,1) 100%);
	background: -o-linear-gradient(top, rgba(199,3,4,1) 0%,rgba(155,3,3,1) 100%); 
	background: -ms-linear-gradient(top, rgba(199,3,4,1) 0%,rgba(155,3,3,1) 100%);
	background: linear-gradient(to bottom, rgba(199,3,4,1) 0%,rgba(155,3,3,1) 100%);
}

.location-wrapper.locked .location-play, .location-wrapper .location-buy, .location-wrapper .icon-lock{
	display: none;
}

.location-wrapper.locked .icon-lock, .location-wrapper.locked .location-buy{
	display: inline-block;
}

.location-wrapper.locked .location {
	opacity: 1;
}

.location-wrapper.coming-soon .icon-location{
	background-color: #999;
	border: 3px solid #f8b52e;
	border-radius: 80px;
	width: 114px;
	height: 113px;
}

.location-wrapper.coming-soon .location-container .location-icons {
	top: 3px;
	left: 22px;
}

.location-wrapper.coming-soon .location {
	background-color: #999;
	width: 144px;
}
.location-wrapper.coming-soon .location-container .location-name {
	margin-top: 30px;
}


/* ----------------------------- */
/*          DIALOGS           */
/* ----------------------------- */

.dialog-container {
	position: absolute;
	width: 86%;
	z-index: 3;
	margin: auto;
	left: 0;
	right: 0;
	border: 4px solid #f7c85c;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 25px 5px 5px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #303030 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 0%,#303030 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #000000 0%,#303030 50%,#000000 100%); /* W3C */
	font-size: 16px;
	top: 10%;
	text-align: center;
}

.dialog-container ul li{
	list-style-type: none;
}

.dialog-container h1 {
	color:	#f7c85c;
	text-shadow: 1px 1px 10px rgba(247, 200, 92, .6), -1px -1px 10px rgba(247, 200, 92, .6);
	font-size: 24px;
}

.dialog-container h3 {
	color:	#f7c85c;
	font-size: 16px;
	margin: 5px 0;
}

.dialog-container h2 {
	margin: 10px 0;
	font-size: 24px;
}

.dialog-container .play {
	margin-top: 20px;
}


.achievements .dialog-container h2 {
	font-size: 20px;
}

.close {
	background: #bc2121;
	width: 31px;
	height: 31px;
	position: absolute;
	z-index: 3;
	right: -12px;
	top: -12px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}


a.close::after {
	-webkit-transform: rotate(-45deg);
	position: absolute;
	content: "";
	background: white;
	height: 5px;
	width: 22px;
	bottom: 13px;
	left: 4px;
}

a.close::before {
	-webkit-transform: rotate(45deg);
	position: absolute;
	content: "";
	background: white;
	height: 5px;
	width: 22px;
	bottom: 13px;
	left: 4px;
}

a.close {
	color: #FFF;
	font-weight: bold;
	line-height: 30px;
	font-size: 18px;
}

.overlay {
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	left: 0;
}

.instertitial-container {
	width: 86%;
	margin: auto;
	border: 4px solid #f7c85c;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #303030 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(50%,#303030), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 0%,#303030 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #000000 0%,#303030 50%,#000000 100%); /* W3C */
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}

.instertitial-container p {
	text-align: left;
	margin: 10px 15px;
	font-size: 14px;
}




/* ----------------------------- */
/*             TopUp             */
/* ----------------------------- */


.buy-container {
	text-align: center;
	display: block;
	padding: 2px 4px;
	margin-bottom: 5px;
}

.buy-gold-btn {
	float: left;
	width: 50%;
}

.buy-container .input {
	margin: 15px 0;
	height: 50px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 90%;
	font-size: 16px;
	background: #FAA22C;
	font-weight: bold;
	border: 4px solid #DC7900;
}





.wonspin {
	font-size: 2em;
	color: white;
 }

.secondary-header {
	background-color: #950405;
	font-size: 0.8em;
	padding-top:2px;
}

.list-container {
	border: 2px solid #646464;
	background-color: #3e3e3e;
	margin: 5px 0;
	overflow:hidden;
}


.notify {
    background: none repeat scroll 0 0 #FFF9D7;
    border: 1px solid #E2C822;
    color: #644B00;
    padding: 4px 5px 0;
    text-align: center;
    }
    
.confirm {
    background: none repeat scroll 0 0 #E1FAE1;
    border: 1px solid #3C6400;
    color: #3C6400;
}

.error {
    background: none repeat scroll 0 0 #FFAFAF;
    border: 1px solid red;
    color: #000000;}



.login-menu a {
	color:#950405;	
}

.goldtext {
	color: #f1bc4c;
    font-weight:bold;
}

.list-container {
	padding: 5px;
}

.list {
	margin: 10px 0;
}

.payout-table {
	text-align:left;
	border: 2px solid #646464;
	border-bottom:none;
	background-color: #3e3e3e;
	padding:5px;
}

.border-bottom {
	border-bottom:2px solid #646464;
}

.icon {
	vertical-align: top;
}


.subheader {
	text-align:center;
	margin: 5px 0;
}


.list-entity {
	float: left;
    width: 100%;
	margin: .5em .5em 0 0;
}

.profile-pic-frame {
	float: left;
	margin: 0 .5em 0 0;
	padding: .5em;
	background-color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 45px;
}

.list-entry-content {
	padding: .5em;
	background-color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 5px 0 65px;
	height: 45px;
}


.achievements tr {
	border-collapse: collapse;
}

.achievement-container {
	padding: 5px;	
	height: 450px;
	overflow: scroll;
}

#achievement-entity {
	background-image: linear-gradient(bottom, rgb(62,62,62) 4%, rgb(102,102,102) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,62,62) 4%, rgb(102,102,102) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,62,62) 4%, rgb(102,102,102) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(62,62,62)), color-stop(1, rgb(102,102,102)));
    border: 2px solid #646464;
	margin: 5px 0;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.3em;
}

.achievement-icon {
 	width: 30px;
 	height: 30px;
}

.achievement {
	text-align: left;
 	padding-left: 10px;	
}

.achievement-coins {
	text-align: right;
}

.disable {
	opacity: 0.4;
}


/*----------------------*/

/*  Level 2 - Old West  */

/*----------------------*/

.wrapper.level-2 {
	background: url(../images/level-2/level-2-bg.jpg);
}

.level-2 .header-logo, .level-2 .title, .level-2 .spin-container, .level-2 .spin-controls{
	background: #5d371f;
	-moz-box-shadow: inset 0px 0px 5px #000;
	-webkit-box-shadow: inset 0px 0px 5px black;
	box-shadow: inset 0px 0px 5px black;
}

.level-2 .spin-results {
	border-color: #5d371f;
}

.level-2 .spin-results .location span{
	background: #5D371F;
}

/*-------------------------*/

/*  Level 3 - Under Water  */

/*-------------------------*/

.wrapper.level-3 {
	background: url(../images/level-3/level-3-bg.jpg);
}

.level-3 .header-logo, .level-3 .title, .level-3 .spin-container, .level-3 .spin-controls{
	background: #004b80;
}

.level-3 .spin-results {
	border-color: #004b80;
}

.level-3 .spin-results .location span{
	background: #004b80
}


/*-----------------------------*/

/*  Level 4 - Jungle Treasure  */

/*-----------------------------*/

.wrapper.level-4 {
	background: url(../images/level-4/level-4-bg.jpg);
}

.level-4 .header-logo, .level-4 .title, .level-4 .spin-container, .level-4 .spin-controls{
	background: #805a00;
	-moz-box-shadow: inset 0px 0px 5px #000;
	-webkit-box-shadow: inset 0px 0px 5px black;
	box-shadow: inset 0px 0px 5px black;
}

.level-4 .spin-results {
	border-color: #805a00;
}

.level-4 .spin-results .location span{
	background: #805a00;
}

